@media(min-width: 840px) {
  .widget-panel {
    margin: 0 8px;
  }
}

.widget-panel {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.deletemark {
  position: absolute;
  right: -7px;
  bottom: -7px;
  display:inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #FF0000;
  &:after, &:before {
    content: '';
    display: block;
    width: 6px;
    height: 14px;
    border: none;
    background-color: white;
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }

}

.feed-post {
  overflow: auto;

  a {
    color: black;
    text-decoration: none;
    opacity: 0.85;
  }
  
  .feed-post__prepend-icon {
    display: inline-block;
    float: left;
  }
  
  .feed-post__append-icon {
    display: inline-block;
    float: right;
  }

  .feed-post__title {
    display: inline-block;
    border-left: 4px double #bbb;
    padding: 0 5px;
    margin-bottom: 4px;
    * {
      margin: 0;
    }
  }
  .feed-post__out-link {
    float: right;
  }
  .feed-post__out-link, .feed-post__prepend-icon, .feed-post__append-icon {
    visibility: hidden;
  }
  &:hover {
    .feed-post__out-link, .feed-post__prepend-icon, .feed-post__append-icon {
      visibility: visible;
    }
  }
}
