.mdl-menu {
  .mdl-menu__special-item {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 8px;
    &>* {
      margin: 0 4px;
    }
  }
}

.delete-tab__mark {
  position: absolute;
  opacity: 0.4;
  top: 0;
  right: 0;
  z-index: 10;
  color: rgba(0,0,0, 0.87);
  &:hover {
    opacity: 1;
  }
}
