.control-block {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
}

.mdl-grid{
  box-sizing: border-box;
  padding: 0;
  &.grid__1x {
    height: 200px;
    &>.mdl-cell {
      height: 200px;
    }
  }
  &.grid__2x {
    height: 400px;
    &>.mdl-cell {
      height: 400px;
    }
  }
  &.grid__3x {
    height: 600px;
    &>.mdl-cell {
      height: 600px;
    }
  }
  &.grid__1x, &.grid__2x, &.grid__3x {
    justify-content: space-around;
    &>.mdl-cell {
      position: relative;
      margin: 0;
      &>.mdl-card {
        min-height: initial;
        position: absolute;
        top: 0;
        bottom: 18px;
      }
    }
  }
}

.zoom-out-icons {
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: 12px;
  opacity: 0.35;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
