@import '../../../../containers/scss/variables.scss';

.feed-view__thumbnail {
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(0.9);
    transform-origin: bottom;
  }
}

.feed-view__info-wrapper {
  position: absolute;
  border-top: 1px solid #BBB;
  margin: 0 1rem;
  height: 15rem;
  width: calc(100% - 2rem);
  bottom: 65px;
  left: 0;
  .feed-view__info-close {
    text-align: center;
    position: absolute;
    height: 48px;
    line-height: 60px;
    cursor: pointer;
    z-index: 2;
    &:hover {
      background-color: #E0E0E0;
    }
  }
  .feed-view__sub-feed-selector {
    position:relative;
    max-height: 15rem;
    overflow-x: hidden;
    width: 20%;
    height: 100%;
    display: inline-block;
    & + .feed-view__info {
      border-left: 1px solid #e0e0e0;
    }
  }
  .feed-view__info {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    width: auto;
  }
  .feed-view__info-content, .feed-view__sub-feed-selector-content {
    cursor: pointer;
    margin: 0;
    overflow-y: scroll;
    max-height: 15rem;
    padding: 0 2rem;
    width: calc(100% + 20px);
    list-style: none;
  }
}